<div class="interaction-bar container">
    <div class="col span-6">
        <button ng-click="openModal('newSceneTemplate')" class="btn btn--dotted"><i class="fa fa-plus"></i>New Template</button>
    </div>
    <div class="col span-6 has-text-right">
        <button class="btn btn--dropdown btn--dropdown--light">Most Recent<i class="fa fa-chevron-down"></i></button>
        <button class="btn"><i class="fa fa-th-list"></i></button>
        <button class="btn"><i class="fa fa-th"></i></button>
    </div>
</div>

<ul class="overview-list container">
    <li ng-repeat="template in templates track by $index" ui-sref="app" class="overview-list__item col span-6">
        <div class="overview-list__asset" style="background-image:url(http://upload.wikimedia.org/wikipedia/commons/6/60/Matterhorn_from_Domh%C3%BCtte_-_2.jpg);">
            <div class="overview-list__color" style="background-color:rgba(100,100,160, 0.5);"></div>
            <div class="overview-list__content container">
                <div class="col span-8">
                    <h2 class="overview-list__title">{{template.title}}</h2>
                    <time class="overview-list__modified" datetime="2000-01-30 18:00">Last modified: {{template.description}}</time>
                </div>
                <div class="col span-4 has-text-right">
                    <button class="btn btn--cta">Edit</button>
                </div>
            </div>
        </div>
    </li>
</ul>