<div id="view--login">
    <h1>Login</h1>
    <form name="loginForm" class="container"
          ng-controller="LoginController" ng-submit="login(credentials)" novalidate>
        <fieldset class="row">
            <placeholder-input value="credentials.login" label="Username" type="text"></placeholder-input>
        </fieldset>
        <fieldset class="row">
            <placeholder-input value="credentials.password" label="Password" type="password"></placeholder-input>
        </fieldset>
        <div class="row">
            <button class="btn btn--round btn--submit">Login</button>
        </div>
    </form>
</div>