<nav-header></nav-header>
<div id="view--root" class="container">
    <section class="section section--gallery row">
        <h1 class="section--gallery__title">360blick</h1>
        <p class="section--gallery__subtitle">interactive panorama experiences</p>
        <button ui-sref="register" class="btn btn--cta section--gallery__sign-up" ng-if="!isAuthenticated()">sign up</button>
        <button ui-sref="user({username: currentUser})" class="btn btn--cta section--gallery__sign-up" ng-if="isAuthenticated()">Your profile</button>
    </section>
    <section class="section section--features row">
        <ul class="icon-list">
            <li class="icon-list__item">
                <i class="fa fa-cube"></i>
                <span class="icon-list__title icon-list__title--divided">Scenes & Text</span>
                <span class="icon-list__text">Add your content and make it interactive.</span>
            </li>
            <li class="icon-list__item">
                <i class="fa fa-link"></i>
                <span class="icon-list__title icon-list__title--divided">Navigation</span>
                <span class="icon-list__text">Define Relations and link between Panormas.</span>
            </li>
            <li class="icon-list__item">
                <i class="fa fa-magic"></i>
                <span class="icon-list__title icon-list__title--divided">Effects</span>
                <span class="icon-list__text">Add Animations and Transitions for more emotion.</span>
            </li>
        </ul>
    </section>
    <section class="section section--toggle row">
        <hgroup>
            <h2 class="section__title">Interactive Editing</h2>
            <h3 class="section__subtitle">Interactive panorama experiences with more perspective, you will actually love to edit and share.</h3>
        </hgroup>
        <div class="section--toggle__images"></div>
    </section>
    <section class="section section--options row">
        <hgroup>
            <h2 class="section__title">Show some Awesomeness</h2>
            <h3 class="section__subtitle">Import your favourite assets with ease and make them even more awesome.</h3>
        </hgroup>
        <ul class="icon-list icon-list--minor">
            <li class="icon-list__item">
                <i class="fa fa-picture-o"></i>
                <span class="icon-list__text">Images</span>
            </li>
            <li class="icon-list__item">
                <i class="fa fa-cube"></i>
                <span class="icon-list__text">3D Models</span>
            </li>
            <li class="icon-list__item">
                <i class="fa fa-magic"></i>
                <span class="icon-list__text">Filters</span>
            </li>
            <li class="icon-list__item">
                <i class="fa fa-video-camera"></i>
                <span class="icon-list__text">Videos</span>
            </li>
            <li class="icon-list__item">
                <i class="fa fa-font"></i>
                <span class="icon-list__text">Text</span>
            </li>
        </ul>
    </section>
    <footer class="footer">
        <nav>
            <ul>
                <li>
                    <a href="#">Help</a>
                </li>
                <li>
                    <a href="#">Blog</a>
                </li>
                <li>
                    <a href="#">Documentation</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Imprint</a>
                </li>
            </ul>
        </nav>
    </footer>
</div>

