<div class="container">
    <nav class="col span-4">
        <ul class="nav-tabs">
            <li class="nav-tabs__item">
                <button class="nav-tabs__btn nav-tabs__btn--menu"  ui-sref="{{isEditor ?  'user.project.scenes({username: username, projectId: projectId})' : 'user.scenetemplates({username: username})'}}"><i class="fa fa-arrow-left"></i></button>
            </li>
            <li class="nav-tabs__item">
                <button ng-click="openModal('newScene')" class="nav-tabs__btn" ><i class="fa fa-plus-square-o"></i>Create Scene</button>
            </li>
        </ul>
    </nav>
    <div class="col span-4 has-header-pad has-text-center">
        <dropdown ng-if="isEditor" template-name="select" on-select="onSceneSelect" data="{'items': scenes, 'currentItemName': currentSceneTitle}" class-suffix="editor"></dropdown>
    </div>
    <div class="col span-4 has-text-right">
        <ul class="nav-tabs--label">
            <li class="nav-tabs--label__item">
                <button class="nav-tabs--label__btn">
                    <i ng-click="zoomOut()" class="fa fa-search-minus"></i>
                    <span class="nav-tabs--label__title">Zoom</span>
                </button>
            </li>
            <li class="nav-tabs--label__item has-right-splitter">
                <button class="nav-tabs--label__btn">
                    <i ng-click="zoomIn()" class="fa fa-search-plus"></i>
                    <span class="nav-tabs--label__title">Zoom</span>
                </button>
            </li>
            <!--<li class="nav-tabs--label__item has-right-splitter">-->
                <!--<button class="nav-tabs--label__btn">-->
                    <!--<i class="fa fa-eye-slash"></i>-->
                    <!--<span class="nav-tabs--label__title">Toolbar</span>-->
                <!--</button>-->
            <!--</li>-->
            <li class="nav-tabs--label__item">
                <button class="nav-tabs--label__btn" ng-click="goBack()">
                    <i class="fa fa-undo"></i>
                    <span class="nav-tabs--label__title">Undo</span>
                </button>
            </li>
            <li class="nav-tabs--label__item">
                <button class="nav-tabs--label__btn">
                    <i class="fa fa-repeat"></i>
                    <span class="nav-tabs--label__title">Redo</span>
                </button>
            </li>
            <li class="nav-tabs--label__item">
                <button class="nav-tabs--label__btn" ng-click="save()">
                    <i class="fa fa-floppy-o"></i>
                    <span class="nav-tabs--label__title">Save</span>
                </button>
            </li>
        </ul>
    </div>
</div>


