@include add-grid(12);
@include add-gutter(0em);

.editor-wrapper{
  @include grid-span(12);
  height: 100%;
}

.editor-header{
  @include grid-span(12);
  height: 30px;
}
.editor-view{
  @include grid-span(9, 1);
  height: 100%;
}
.editor-sidebar{
  @include grid-span(3, 10);
  height: 100%;
}