.editor-header{
  background-color: #222;
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
  color: #FFF;
  cursor: pointer;
  i{
    margin: 7px;
    margin-right: 2px;
    margin-left: 0;
    &:first-of-type{
      margin-left: 7px;
    }
  }
}