// Buttons
//
// Markup: <button href="" class="btn btn--round {$modifiers}">Button</button>
//
// .btn--round        - default style
// .btn--sign-up      - Sign up
// .btn--sign-in      - Sign in
// .btn--submit       - Submit
//
// Styleguide 2
.btn {
  cursor: pointer;
  border-radius: 3px;
  @include blick-transition(opacity);
}

.btn--submit {
  padding: 0 $base * 4;
  background: $secondary-0;
  height: $base * 10;
  color: $secondary-light;
  font-size: $font-size-large;

  &:hover, &:focus {
    opacity: .8;
  }
}

.btn--cta {
  padding: 0 $base * 4;
  background: $primary-cta;
  height: $base * 10;
  color: $secondary-light;
  font-size: $font-size-large;

  &:hover, &:focus  {
    opacity: .8;
  }
}

.btn--danger, .btn--success {
  background: $cta-0;
  padding: 0 $base * 4;
  height: $base * 10;
  color: $secondary-light;
  font-size: $font-size-large;

  &:hover, &:focus  {
    opacity: .8;
  }
}

.btn--success {
  background: $cta-1;
}

.btn--dotted {
  height: $base * 10;
  color: $secondary-2;
  font-size: $font-size-large;
  border: 2px dotted $secondary-2;
  padding: 0 $base * 4;
  font-weight: $font-weight-light;

  .fa {
    margin-right: $base * 2;
    font-size: 16px;
  }

  &:hover, &:focus  {
    border-color: $secondary-0;
    color: $secondary-0;
  }
}

.btn--dropdown {
  position: relative;
  padding: 0 $base * 10;

  .fa {
    position: absolute;
    left: $base * 2;
    font-size: 22px;

    &:last-child {
      left: auto;
      right: $base * 2;
      font-size: 14px;
      height: 100%;
      line-height: 18px;
    }
  }
}

.btn--select {
  position: relative;
  border-radius: 0;
  width: 100%;
  height: $base * 10;
  line-height: $base * 10;
  background: $secondary-3;
  padding: 0 $base * 3;
  text-align: left;

  .fa {
    position: absolute;
    right: $base * 2;
    top: 50%;
    margin-top: -8px;

    &:last-child {
      right: $base * 2;
      font-size: 14px;
    }
  }
}

.btn--select--light {
  background: $secondary-light;
  border: 2px solid $secondary-3;
  color: $secondary-2;
  border-radius: 2px;
}
