// Buttons
//
// Markup: <button href="" class="btn btn--round {$modifiers}">Button</button>
//
// .btn--round        - default style
// .btn--sign-up      - Sign up
// .btn--sign-in      - Sign in
// .btn--submit       - Submit
//
// Styleguide 2
.btn {
  cursor: pointer;
  @include blick-transition;

  &:hover {
    opacity: .8;
  }
}

.btn--round {
  border-radius: 40px;
  padding: 15px 25px;
  text-transform: uppercase;
  background: $primary-cta;
  color: $secondary-1;
}

.btn--sign-up {
  background: $primary-2;
  color: $secondary-1;
  padding: 20px 35px;
}

.btn--sign-in {
  background: $primary-2;
  color: $secondary-1;
}

.btn--submit {
  background: $primary-2;
  color: $secondary-1;
}
