$dialog-header-height: $base * 10;




.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $primary-0;
  background: rgba($primary-0, .9);
  padding: $base * 14;
  z-index: 4;
  opacity: 1;
  @include blick-transition(all, .25s);

  &.ng-enter {
    opacity: 0;

    .dialog__content {
      transform: scale3d(.95, .95, 1);
    }
  }

  &.ng-enter-active {
    opacity: 1;

    .dialog__content {
      @include blick-transition(all, .2s);
      transform: scale3d(1, 1, 1);
    }
  }

  &.ng-leave {
    opacity: 1;

    .dialog__content {
      @include blick-transition(all, .15s);
      transform: scale3d(1, 1, 1);
    }
  }

  &.ng-leave-active {
    opacity: 0;

    .dialog__content {
      @include blick-transition(all, .15s);
      transform: scale3d(.95, .95, 1);
    }
  }
}

.dialog__content {
  background: $secondary-light;
  color: $primary-0;
  width: 600px;
  height: 400px;
  margin: 0 auto;
}

.dialog__close {
  background: $cta-0;
  color: $secondary-light;
  position: absolute;
  right: 0;
  top: 0;
  height: $dialog-header-height;
  width: $dialog-header-height;
  cursor: pointer;
}

.dialog__header {
  background: $primary-1;
  color: $secondary-light;
  position: relative;
  height: $dialog-header-height;
  padding: 0 $base * 3;
}

.dialog__title {
  font-size: $size-title;
  line-height: $dialog-header-height;
}

.dialog__body {
  padding: $base * 3;
}