$dialog-header-height: $base * 10;

.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $primary-0;
  background: rgba($primary-0, .9);
  padding: $base * 14;
  z-index: 4;
}

.dialog__content {
  background: $secondary-0;
  color: $primary-0;
  width: 600px;
  height: 400px;
  margin: 0 auto;
}

.dialog__close {
  background: $cta-0;
  color: $secondary-1;
  position: absolute;
  right: 0;
  top: 0;
  color: $secondary-1;
  height: $dialog-header-height;
  width: $dialog-header-height;
  cursor: pointer;
}

.dialog__header {
  background: $primary-1;
  color: $secondary-1;
  position: relative;
  height: $dialog-header-height;
  padding: 0 $base * 3;
}

.dialog__title {
  font-size: $size-title;
  line-height: $dialog-header-height;
}

.dialog__body {
  padding: $base * 3;
}