$dialog-header-height: $base * 12;

.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $primary-0;
  background: rgba($primary-0, .9);
  padding: $base * 20;
  z-index: 4;
  opacity: 1;
  @include blick-transition(all, .25s);

  &.ng-enter {
    opacity: 0;

    .dialog__content {
      transform: scale3d(.95, .95, 1);
    }
  }

  &.ng-enter-active {
    opacity: 1;

    .dialog__content {
      @include blick-transition(all, .2s);
      transform: scale3d(1, 1, 1);
    }
  }

  &.ng-leave {
    opacity: 1;

    .dialog__content {
      @include blick-transition(all, .15s);
      transform: scale3d(1, 1, 1);
    }
  }

  &.ng-leave-active {
    opacity: 0;

    .dialog__content {
      @include blick-transition(all, .15s);
      transform: scale3d(.95, .95, 1);
    }
  }
}

.dialog__content {
  color: $primary-0;
  width: 670px;
  height: 420px;
  margin: 0 auto;
  border-radius: 3px;
}

.dialog__close {
  //background: $cta-0;
  color: $secondary-light;
  position: absolute;
  right: 17px;
  top:  50%;
  margin-top: -16px;
  font-size: 26px;
  line-height: 32px;
  height: 32px;
  width: 32px;
  cursor: pointer;
  border-radius: 3px;
  @include blick-transition;

  &:hover {
    color: $cta-0;
  }
}

.dialog__header {
  background: $primary-1;
  color: $secondary-light;
  position: relative;
  height: $dialog-header-height;
  padding: 0 $base * 4;
  border-radius: 3px 3px 0 0;
  cursor: default;
}

.dialog__title {
  font-size: $size-title;
  font-weight: 300;
  line-height: $dialog-header-height;
}

.dialog__body {
  background: $secondary-light;
  padding: $base * 6 $base * 4;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 0 0 3px 3px;
  cursor: default;
}