$dropzone-size: 300px;

.dropzone {
  position: relative;
  display: block;
  width: 100%;
  height: $dropzone-size;
  border: 2px dashed $secondary-1;
  @include blick-transition;
  border-radius: 3px;
  cursor: pointer;
  overflow: scroll;

  &.hover, &:hover {
    background: $secondary-3;
  }

  .dz-message {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    height: 140px;
    margin-top: -70px;

    .fa {
      font-size: 50px;
      margin: $base * 3 0;
      color: $secondary-0;
    }
    p {
      font-size: 30px;
      font-weight: 300;
      color: $secondary-0;
    }
  }

  .dz-preview {
    position: relative;
    display: inline-block;
    width: 50%;
    margin: 0.5em;

    .dz-progress {
      display: block;
      height: 15px;
      border: 1px solid $cta-1;

      .dz-upload {
        display: block;
        height: 100%;
        width: 0;
        background: $cta-1;
      }
    }

    .dz-error-message {
      color: $cta-0;
      display: none;
    }
    &.dz-error {
      .dz-error-message, .dz-error-mark {
        display: block;
      }
    }
    &.dz-success {
      .dz-success-mark {
        display: block;
      }
    }

    .dz-error-mark, .dz-success-mark {
      position: absolute;
      display: none;
      top: 30px;
      width: 100%;
      text-align: center;
    }
  }

}