.editor-scene {
}

.editor-sidebar {
  background: $primary-2;
  width: 300px;
  position: fixed;
  right: 0;
  top: $banner-height;
  bottom: 0;
  overflow: scroll;
  color: $secondary-light;
}

.editor-sidebar__top {
  border: 2px solid red;
}

.editor-settings {
  border: 1px dashed yellow;
  padding: $base;
  margin: $base 0;
}

.editor-objects {
  border: 1px dashed yellow;
  padding: $base;
  margin: $base 0;
}

.editor-objects-list {

}

.editor-objects-list__item {
  border: 1px dashed yellow;
  padding: $base;
  margin: $base 0;
}

.editor-objects-list__header {
  border: 1px dashed yellow;
  padding: $base;
  margin: $base 0;
}

.editor-object__header__icon {
  border: 1px dashed pink;
}

.editor-object__header__title {
  border: 1px dashed green;
}

.editor-object__header__interaction {
  border: 1px dashed pink;
  padding: 1px;
  margin: 1px 0;
}

.editor-object__header__interaction__button {
  border: 1px dashed red;
  padding: 1px;
  margin: 1px 0;
}

.editor-sidebar__bottom {
  border: 2px solid yellow;
}

.editor-sidebar__supported {
  border: 1px dashed yellow;
  padding: $base;
  margin: $base 0;
}

.primitives-list {
  border: 1px dashed pink;
  padding: $base;
  margin: $base 0;
}

.primitives-list__item {
  border: 1px dashed green;
  padding: $base;
  margin: $base 0;
}

.filter-switch {
  border: 1px dashed pink;
  padding: $base;
  margin: $base 0;
}

.filter-switch__option {
  border: 1px dashed red;
  padding: $base;
  margin: $base 0;
  color: $secondary-light;
}
