.input {
  position: relative;
  margin-bottom: $base;

  &.is-focused {
    .input__label {
      opacity: .6;
    }
  }

  &.is-filled {
    .input__label {
      opacity: .2;
    }
  }
}

.input__label {
  position: absolute;
  line-height: $base * 6;
  padding: $base;
  cursor: text;
}

.input__field {
  line-height: $base * 6;
  height: $base * 8;
  padding: $base;
}

.input__field[type=text],
.input__field[type=email],
.input__field[type=password] {
  background: $secondary-2;
}