fieldset {
  margin-bottom: $base * 2;
}

.textarea {
  @include blick-transition;
  background: $secondary-light;
  border: 2px solid $secondary-2;
  font-size: $base * 3;
  padding: $base * 2;
  border-radius: 3px;
  resize: none;
  width: 100%;
  height: 165px;
  outline: none;
  color: $primary-0;

  &:hover {
    border-color: $secondary-0;
  }

  &:focus {
    border-color: $primary-cta;
  }
}

.input {
  position: relative;

  &.is-focused {
    .input__label {
      line-height: $base * 3;
      color: $primary-cta;
    }

    .input__field[type=text],
    .input__field[type=email],
    .input__field[type=password] {
      border-color: $primary-cta;
    }
  }
}

.input__label {
  @include blick-transition;
  position: absolute;
  line-height: $base * 3;
  padding: $base * 2;
  cursor: text;
  color: $secondary-0;
  font-size: 13px;
}

.input__field {
  line-height: $base * 9;
  height: $base * 12;
  font-size: $base * 3;
  padding: $base * 2;
  width: 100%;
}

.input__field[type=text],
.input__field[type=email],
.input__field[type=password] {
  @include blick-transition;
  background: $secondary-light;
  border: 2px solid $secondary-2;
  padding-top: $base * 4;
  border-radius: 3px;

  &:hover {
    border-color: $secondary-0;
  }
}

.input--sidebar {
}

.input--sidebar__label {
  position: relative;
  height: $input-sidebar-height;
  display: block;
  overflow: hidden;
}

.input--sidebar__label__unit {
  position: absolute;
  right: 0;
  top: 0;
  height: $input-sidebar-height;
  line-height: $input-sidebar-height;
  padding: 0 $base;
  background: $primary-0;
  font-size: 12px;
  border-radius: 0px 4px 4px 0px;
}

.input--sidebar__field {
  width: 100%;
  border: 2px solid $primary-0;
  background: $primary-2;
  padding: 0 $base;
  height: $input-sidebar-height;
  line-height: $input-sidebar-height;
  outline: none;
  border-radius: 4px;
  color: $secondary-light;
  @include blick-transition(all, .25s);

  &:focus {
    background: $primary-highlight;
  }
}

// TODO: Joscha, why has the Select Label Animation?? There is also a dropdown class... remove .input--select!
/*
.input--select {
  width: 100%;

  .input__label--select {
    line-height: $base * 2;
    padding: $base * 4;
    @include blick-transition();
  }

  &.is-focused, &.is-filled  {
    .input__label--select {
      line-height: $base * 2;
      padding: $base;
      padding-left: $base * 4;
      color: $secondary-0;
      opacity: 1;
    }
  }
}

.input__field.input--select__field {
  width: 100%;
  height: $base * 10;
  background: $secondary-3;
  padding: $base * 4;
}
*/
