// Banner
//
// usual links and style for external links
//
// Markup: <div class="banner {$modifiers}">Banner</div>
//
// :hover    - Highlight the button when hovered.
// .external - external link styles
//
// Styleguide 4.x
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: $primary-1;
  background: rgba($primary-1, 0.3);
  z-index: 3;
  padding: 5px;
}
