.nav-tabs {
  position: relative;
  margin: $base * 2 0;
}

.nav-tabs__item {
  display: inline-block;
}

.nav-tabs__btn {
  font-size: 18px;
  background: $secondary-2;
  border-radius: $base;
  padding: $base;
  color: $secondary-0;

  &.is-active {
    background: $primary-highlight;
  }
}