.nav-tabs {
}

.nav-tabs__item {
  display: inline-block;
}

.nav-tabs__btn {
  font-size: $font-size-large;
  color: $secondary-0;
  cursor: pointer;
  height: $banner-height - 1px;
  padding: 0 $base * 4 0 $base;

  .fa {
    margin: 0 $base * 2;
  }

  &:hover, &:focus {
    background: $secondary-2;
  }

  &.is-active {
    background: $secondary-2;
    color: $primary-cta;
  }
}

.nav-tabs__btn--menu {
  width: $banner-height;
  padding: 0;
}