.overview-list {
  background: $secondary-light;
  padding-bottom: $base * 30;
}

.overview-list__item {
  background-color: $primary-2;
  //padding-bottom: 56.25%; / 2 = 28
  padding-bottom: 28%;
  position: relative;
  cursor: pointer;

  &:hover {
    .overview-list__color {
      opacity: .1;
    }
  }
}

.overview-list__asset {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  background-size: cover;
  background-image: url('http://upload.wikimedia.org/wikipedia/commons/6/60/Matterhorn_from_Domh%C3%BCtte_-_2.jpg');
}

.overview-list__color {
  @include blick-transition(opacity, .5s);
  opacity: .6;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.overview-list__content {
  position: absolute;
  bottom: 0;
  padding: $base * 4 $base * 6;
}

.overview-list__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.4;
  color: $secondary-light;
  @include ellipsis();
}

.overview-list__modified {
  font-size: 12px;
  color: $secondary-light;
}