.sidebar-menu{
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 20%;
  background: $primary-2;
  overflow: scroll;
  padding-bottom: $base * 20;
}

.sidebar-menu__title {
  text-align: center;
  color: $secondary-3;
  font-size: 30px;
  padding: $base * 5 $base;
  height: $banner-height - 1px;
  display: block;
  @include blick-transition;
  font-weight: $font-weight-bold;

  &:hover, &:focus {
    background-color: $primary-1;
  }
}

.menu-primary {
}

.menu-primary__item {
}

.menu-primary__title {
  color: $secondary-light;
  padding: $base * 3 $base $base * 3 $base * 3;
  display: block;
  font-size: $font-size-large;
  border-top: 1px solid $primary-0;
  @include blick-transition;
  font-weight: $font-weight-semi-bold;
  cursor: pointer;

  .fa {
    margin-right: $base * 2;
    width: $base * 4;
  }

  &.has-menu-seperator {
    border-bottom: 1px solid $primary-0;
  }

  &:hover, &:focus {
    background-color: $primary-1;
  }

  &.is-active {
    background-color: $primary-cta;
    border-color: $primary-cta;
  }
}

.menu-secondary {
}

.menu-secondary__item {
}

.menu-secondary__title {
  color: $secondary-light;
  padding: $base * 3 $base * 3 $base * 3 $base * 9;
  display: block;
  font-size: $font-size-medium;
  @include blick-transition;
  font-weight: $font-weight-light;
  cursor: pointer;

  .fa {
    margin-right: $base * 2;
  }

  &:hover, &:focus {
    background-color: $primary-1;
  }

  &.is-active {
    background-color: $primary-cta;
  }
}