body, html {
  background: $primary-0;
}

.app-container {
  background: $secondary-light;
  @include blick-transition(all, .35s);
}

// body, html
.has-open-dialog {
  overflow: hidden;

  .app-container {
    transform: scale3d(0.95, 0.95, 1);
  }
}

#view--login,
#view--register {
  max-width: 540px;
  padding: $base * 20 $base * 2;
  margin: 0 auto;

  h1 {
    text-align: center;
    padding: $base * 8 0;

    a {
      outline: none;
      font-size: $base * 14;
      color: $primary-cta;
    }
  }

  .btn {
    width: 40%;
  }
}

#view--root {
}

#view--user {
}

#view--user__wrapper {
}

#view--user__wrapper__content{
}

#view--editor {

}

.view, .view__wrapper {
  width: 100%;
  height: 100%;
}

.view__wrapper.has-sidebar-menu {
  margin-left: 0;
  background: $secondary-light;
  position: relative;
  z-index: 1;
  @include blick-transition(all, .3s);
}

.sidebar-menu-active {
  .view__wrapper.has-sidebar-menu {
    width: 80%;
    margin-left: 20%;
  }

  .sidebar-menu {
    transform: translateX(0%) translateZ(0);
  }
}