<div class="dialog" ng-click="checkCloseIt($event)">
    <div class="dialog__content">
        <div class="dialog__header">
            <button class="dialog__close" ng-click="closeIt()" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="dialog__title">Help</h4>
        </div>
        <div class="dialog__body">
            <form name="loginForm" class="container"
                  ng-submit="sendHelp(credentials)" novalidate>
                <fieldset class="row">
                    <placeholder-input value="credentials.subject" label="Subject" type="text"></placeholder-input>
                </fieldset>
                <fieldset class="row">
                    <textarea ng-model="credentials.message" placeholder="Your Message"></textarea>
                </fieldset>
                <fieldset class="row">
                    <placeholder-input value="credentials.sender" label="Email" type="email"></placeholder-input>
                </fieldset>
                <div class="row">
                    <button class="btn btn--round btn--submit">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>

