<div class="dialog">
    <div class="dialog__content">
        <div class="dialog__header">
            <button class="dialog__close" ng-click="closeIt()" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="dialog__title">{{modalHeader}}</h4>
        </div>
        <div class="dialog__body">
            <fieldset class="row">
                <dropzone upload-data="upload.data" upload-settings="upload.settings" dropzone></dropzone>
            </fieldset>
            <div class="row">
                <button ng-click="createNewAsset(); closeIt()" class="btn btn--submit">Ok</button>
            </div>
        </div>
    </div>
</div>
