<div class="dialog">
    <div class="dialog__content">
        <div class="dialog__header">
            <button class="dialog__close" ng-click="closeIt()" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="dialog__title">Interaction</h4>
        </div>
        <div class="dialog__body">
            <div class="col span-6">
                Interaction
                <fieldset class="row">
                    <dropdown template-name="select" on-select="onInteractionSelect" data="{'currentItemId': currentInteractionId, 'items': interactions}"></dropdown>
                </fieldset>
                <div ng-if="isNeededProperty('scenes')">
                    Scenes
                    <fieldset class="row">
                        <dropdown template-name="select" on-select="" data="{'currentItemId': currentSceneId, 'items': (scenes | filter: {id: '!'+62})}"></dropdown>
                    </fieldset>
                </div>
                <div ng-if="isNeededProperty('objects')">
                    Objects
                    <fieldset class="row">
                        <dropdown template-name="select" on-select="" data="{'currentItemId': currentSceneId, 'items': objects}"></dropdown>
                    </fieldset>
                </div>
                <div class="row">
                    <button ng-click=" closeIt()" class="btn btn--cta btn--submit">Add</button>
                </div>
            </div>

        </div>
    </div>
</div>

