// Banner
//
// usual links and style for external links
//
// Markup: <div class="banner {$modifiers}">Banner</div>
//
// :hover    - Highlight the button when hovered.
// .external - external link styles
//
// Styleguide 4.x
.banner {
  width: 100%;
  height: 40px;
  border: 1px solid blue;
  background: green;
  color: yellow;

  &.external {
    background: yellow;
    color: #0f0;
  }
}
