<div class="dialog">
    <div class="dialog__content">
        <div class="dialog__header">
            <button class="dialog__close" ng-click="closeIt()" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="dialog__title">Login</h4>
        </div>
        <div class="dialog__body">
            <form name="loginForm" class="container"
                  ng-controller="LoginController" ng-submit="login(credentials)" novalidate>
                <fieldset class="row">
                    <placeholder-input value="credentials.login" label="Username" type="text"></placeholder-input>
                </fieldset>
                <fieldset class="row">
                    <placeholder-input value="credentials.password" label="Password" type="password"></placeholder-input>
                </fieldset>
                <div class="row">
                    <button class="btn btn--round btn--submit">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>

