<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Login</h4>
            </div>
            <div class="modal-body">
                <form ng-submit="login(credentials)">
                    <input type="text" ng-model="credencials.username" placeholder="Username" name="username">
                    <input type="password" ng-model="credencials.password" placeholder="Password" name="password">
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
</div>