<div class="dialog">
    <div class="dialog__content">
        <div class="dialog__header">
            <button class="dialog__close" ng-click="closeIt()" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="dialog__title">New Project</h4>
        </div>
        <div class="dialog__body">
            <fieldset class="row">
                <placeholder-input value="newProject.title" label="Title" type="text"></placeholder-input>
            </fieldset>
            <fieldset class="row">
                <placeholder-input value="newProject.description" label="Description" type="text"></placeholder-input>
            </fieldset>
            <div class="row">
                <button ng-click="createNewProject()" class="btn btn--round btn--submit">Login</button>
            </div>
        </div>
    </div>
</div>
