<li>
    <div class="container" ng-click="open = !open">
        <div class="col span-6">Texture</div>
        <div class="col span-6">
            <i class="fa fa-eye"></i>
            <i class="fa fa-pencil"></i>
            <i class="fa fa-trash-o"></i>
            <i class="fa fa-file-image-o" ng-click="$root.openModal('selectTexture', {item: item})"></i>
        </div>
    </div>
    <div ng-class="{'open': open}">
        <div class="container">
            <div class="col span-9">
                Wireframes
            </div>
            <div class="col span-3">
                <input type="checkbox" ng-model="item.material.wireframe">
            </div>
            <div class="col span-9">
                Double Sided
            </div>
            <div class="col span-3">
                <input type="checkbox" ng-true-value="2" ng-false-value="0" ng-model="item.material.side">
            </div>
        </div>
        <div class="container">
            <div class="col span-9">
                Width
            </div>
            <div class="col span-3 xyz-interaction__item">
                <div class="input--sidebar">
                    <label class="input--sidebar__label">
                        <span class="input--sidebar__label__unit">px</span>
                        <input class="input--sidebar__field" type="number" ng-model="item.material.x">
                    </label>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col span-9">
                Height
            </div>
            <div class="col span-3 xyz-interaction__item">
                <div class="input--sidebar">
                    <label class="input--sidebar__label">
                        <span class="input--sidebar__label__unit">px</span>
                        <input class="input--sidebar__field" type="number" ng-model="item.material.x">
                    </label>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col span-9">
                Wrap T
            </div>
            <div class="col span-3 xyz-interaction__item">
                <div class="input--sidebar">
                    <label class="input--sidebar__label">
                        <span class="input--sidebar__label__unit">px</span>
                        <input class="input--sidebar__field" type="number" ng-model="item.material.x">
                    </label>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col span-9">
                Wrap S
            </div>
            <div class="col span-3 xyz-interaction__item">
                <div class="input--sidebar">
                    <label class="input--sidebar__label">
                        <span class="input--sidebar__label__unit">px</span>
                        <input class="input--sidebar__field" type="number" ng-model="item.material.x">
                    </label>
                </div>
            </div>
        </div>
    </div>


</li>