<div class="xyz-interaction container">
    <div class="col span-3">
        {{title}}
    </div>
    <div class="col span-3">
        <div class="input--sidebar">
            <label class="input--sidebar__label">
                <span class="input--sidebar__label__unit">px</span>
                <input class="input--sidebar__field" type="number" ng-model="item.x">
            </label>
        </div>
    </div>
    <div class="col span-3">
        <div class="input--sidebar">
            <label class="input--sidebar__label">
                <span class="input--sidebar__label__unit">px</span>
                <input class="input--sidebar__field" type="number" ng-model="item.y">
            </label>
        </div>
    </div>
    <div class="col span-3">
        <div class="input--sidebar">
            <label class="input--sidebar__label">
                <span class="input--sidebar__label__unit">px</span>
                <input class="input--sidebar__field" type="number" ng-model="item.z">
            </label>
        </div>
    </div>
</div>