<li>
    <div class="container" ng-click="open = !open">
        <div class="col span-6">Texture</div>
        <div class="col span-6">
            <i class="fa fa-eye"></i>
            <i class="fa fa-pencil"></i>
            <i class="fa fa-trash-o"></i>
            <i class="fa fa-file-image-o" ng-click="$root.openModal('selectTexture', {item: item})"></i>
        </div>
    </div>
    <div ng-class="{'selected': open}" ng-if="item.material.map">
        <div class="container">
            <div class="col span-9">
                Repeat X
            </div>
            <div class="col span-3 xyz-interaction__item">
                <div class="input--sidebar">
                    <label class="input--sidebar__label">
                        <span class="input--sidebar__label__unit">px</span>
                        <input history-input class="input--sidebar__field" type="number" ng-model="item.material.map.repeat.x">
                    </label>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col span-9">
                Repeat Y
            </div>
            <div class="col span-3 xyz-interaction__item">
                <div class="input--sidebar">
                    <label class="input--sidebar__label">
                        <span class="input--sidebar__label__unit">px</span>
                        <input history-input class="input--sidebar__field" type="number" ng-model="item.material.map.repeat.y">
                    </label>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="input--sidebar">
                <min-max-value title="Offset X" item="item.material.map.offset.x" minimum="0" maximum="1" step-size="0.01"></min-max-value>
            </div>
        </div>
        <div class="container">
            <div class="input--sidebar">
                <min-max-value title="Offset Y" item="item.material.map.offset.y" minimum="0" maximum="1" step-size="0.01"></min-max-value>
            </div>
        </div>
    </div>


</li>