@import "editor-toolbar";
@import "filter-switch";
@import "toggle-list";
@import "selection-list";
@import "xyz-interaction";
@import "sidebar-transform";

.editor-scene {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  top: $banner-height;
  z-index: 0;
}

.editor-sidebar {
  background: $primary-2;
  width: $editor-sidebar-width;
  position: fixed;
  right: 0;
  top: $banner-height;
  bottom: 0;
  overflow: scroll;
  color: $secondary-light;
  z-index: 100;
}

.editor-sidebar__top {
}

.editor-settings {
  padding: $base 0;
  margin: $base 0;
  display: none;
}

.editor-objects {
  padding: $base 0;
}

.editor-sidebar__bottom {
  border-top: 1px solid $primary-0;
  margin-top: $base * 2;
  position: relative;
}

.editor-sidebar__ellipsis {
  position: absolute;
  top: -10px;
  text-align: center;
  width: 100%;
  color: $primary-0;
  cursor: row-resize;
}

.editor-options-list {
}

.editor-options-list__item {
  padding: $base 0;
}