.filter-switch {
  padding: $base;
  margin: $base 0;
  font-size: 0;
  text-align: center;
}

.filter-switch__option {
  padding: $base * 2;
  font-size: 14px;
  border: 2px solid $primary-0;
  color: $primary-0;
  border-left: none;
  cursor: pointer;
  @include blick-transition;

  &:first-child {
    border-left: 2px solid $primary-0;
    border-radius: 4px 0 0 4px;
  }

  &:last-child {
    border-radius: 0 4px 4px 0;
  }

  &.active {
    background: $primary-highlight;
    color: $secondary-light;
  }

  &:hover {
    background: $primary-0;
    color: $secondary-light;
  }
}