.primitives-group-list {
}

.primitives-group-list__header {
  background: $primary-0;
  padding: $base * 2;
}

.primitives-object-list {
  padding: $base * 2;
}

.primitives-object-list__item {
  padding: $base;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;

  .fa {
    font-size: 20px;
  }

  &:hover {
    background: $primary-1;
  }
}

.primitives-object-list__title {
  font-size: 10px;
  margin-top: $base;
}