.primitives-list {
  border: 1px dashed pink;
  padding: $base;
  margin: $base 0;
}

.primitives-list__item {
  padding: $base;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;

  .fa {
    font-size: 20px;
  }

  &:hover {
    background: $primary-0;
  }
}

.primitives-list__title {
  font-size: 10px;
  margin-top: $base;
}