.selection-list {
  padding: $base * 2;
}

.selection-list__item {
  padding: $base;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;

  .fa {
    font-size: 20px;
  }

  &:hover {
    background: $primary-1;
  }
}

.selection-list__title {
  font-size: 10px;
  margin-top: $base;
}