.toggle-list {
}

.toggle-list__header {
  background: $primary-0;
  padding: $base * 2;
  cursor: pointer;
}

.toggle-list__item {
  &.active{
    .toggle-list__header {
      background: $primary-cta;
    }
    border: 3px solid $primary-cta;
    border-top: none;
  }
}

.toggle-list__body {
  max-height: 0px;
  overflow: hidden;
  @include blick-transition;
  &.selected {
    max-height: 2000px;
  }
}

.toggle-list--small {

}

.toggle-list--small__header {
  background: $primary-0;
  padding: $base;
}

.toggle-list--small__item {
  // todo: is-heading-state
  //padding: $base;
}

.toggle-list__header__icon {
}

.toggle-list__header__title {
}

.toggle-list__header__interaction {
}

.toggle-list__header__interaction__button {
  color: $secondary-light;
  cursor: pointer;

  &:hover {
    opacity: .8;
  }
}