// todo: refactor minmax and xyz to editor-option
.xyz-interaction { }

.xyz-interaction__title {
  height: $input-sidebar-height;
  line-height: $input-sidebar-height;
  font-size: 18px;
  text-align: center;
}

.xyz-interaction__item {
  padding: 1px;
}

// todo: refactor minmax and xyz to editor-option
.minmax-interaction { }

.minmax-interaction__title {
  height: $input-sidebar-height;
  line-height: $input-sidebar-height;
}


.minmax-interaction__slider {
  height: $input-sidebar-height;
  line-height: $input-sidebar-height;
}