<div class="interaction-bar container">
    <div class="col span-6">
        <button ng-click="openModal('newAsset')" class="btn btn--dotted"><i class="fa fa-plus"></i>New Asset</button>
    </div>
    <div class="col span-6 has-text-right">
        <dropdown template-name="select" on-select="onOrderSelect" data="{'currentItemId': order.items[0].title, 'items': order.items}" class-suffix="light"></dropdown>
    </div>
</div>

<ul class="overview-list container">
    <li ng-repeat="asset in assets | orderBy:order.predicate:order.reverse" ui-sref="user.project.assets({assetId: asset.id})" class="overview-list__item col span-6">
        <div class="overview-list__asset" ng-style="getAssetBackgroundImage(asset)">
            <div class="overview-list__color" ng-style="{'background-color': asset.color}"></div>
            <div class="overview-list__content container">
                <div class="col span-8">
                    <h2 class="overview-list__title">{{asset.title}}</h2>
                    <time class="overview-list__modified" datetime="{{asset.updated_at | date:'yyyy-MM-dd hh:mm'}}">Last modified: {{asset.updated_at | date:'medium'}}</time>
                </div>
                <div class="col span-4 has-text-right">
                    <button ng-click="deleteAsset(asset, $event)" class="btn btn--danger">Delete</button>
                    <button class="btn btn--cta">Edit</button>
                </div>
            </div>
        </div>
    </li>
</ul>