<div id="view--settings" class="view conainer">
    <div id="view--settings__wrapper" class="view__wrapper">
        <div class="interaction-bar settings">
            <form name="settingsForm" class="settings__form container" ng-submit="updateAsset($event)" novalidate>
                <fieldset class="row">
                    <placeholder-input value="assetTitle" label="Title" type="text"></placeholder-input>
                </fieldset>
                <div class="row">
                    <button class="btn btn--round btn--submit">Update Title</button>
                </div>
            </form>
            <div class="settings__profile-image">
                <img ng-src="{{assetImage}}" ng-click="openModal('newAsset', uploadOptions)" alt="Asset Image" style="max-width:400px;">
                <br>
                <button ng-click="openModal('newAsset', uploadOptions)" class="btn btn--dotted"><i class="fa fa-upload"></i>Change Asset Image</button>
            </div>
        </div>
    </div>
</div>