<div class="interaction-bar container settings">
    <form name="settingsForm" class="container" ng-submit="updateProjectSettings($event)" novalidate>
        <fieldset class="row">
            <placeholder-input value="project.title" label="Project Title" type="text"></placeholder-input>
        </fieldset>
        <fieldset class="row">
            <placeholder-input value="project.description" label="Project Description" type="text"></placeholder-input>
        </fieldset>
        <div class="row">
            <button class="btn btn--round btn--submit">Update Settings</button>
        </div>
    </form>
    <br>
    <div>
        <img ng-click="openModal('newAsset', uploadOptions)" ng-src="{{project.preview_image ? assetUrl + project.preview_image.url : assetUrl + defaultImage}}" style="max-width:400px;">
        <br>
        <br>
        <button ng-click="openModal('newAsset', uploadOptions)" class="btn btn--dotted"><i class="fa fa-upload"></i>Change Asset</button>
    </div>
</div>

<div class="interaction-bar container">
    <div class="col span-6">
        <button ng-click="generateExport($event)" class="btn btn--cta">Generate Export</button>
    </div>
    <div class="col span-6 has-text-right">
    </div>
</div>

<ol class="export-list">
    <li class="export-list__item" ng-repeat="export in exports | orderBy:'-created_at'" ng-click="startDownload(export)">
        <i class="fa fa-file-archive-o"></i>
        <div class="export-list__item__date">{{export.created_at | date:'yyyy-MM-dd hh:mm:ss'}}</div>
        <div class="export-list__item__filesize">{{export.size | fileSize}}</div>
        <div class="export-list__item__assets">{{export.amount_assets}} Assets</div>
    </li>
</ol>