
<div class="interaction-bar container">
    <div class="col span-6">
        <h2>{{project.title}} Settings</h2>
        <div>
            {{project.description}}
        </div>
    </div>
    <ul class="col span-12 form">
        <li>
            New Title:
            <input ng-model="updatedProject.title">
        </li>
        <li>
            New Description:
            <input ng-model="updatedProject.description">
        </li>
        <li>
            Is Private:
            <input type="checkbox" ng-model="updatedProject.is_private" ng-checked="updatedProject.is_private">
        </li>
        <li>
            <button ng-click="openModal('newAsset', uploadOptions)" class="btn btn--dotted"><i class="fa fa-upload"></i>Change Asset</button>
            {{project.preview_image}}
        </li>
        <li>
            <button ng-click="updateProjectSettings($event)" class="btn btn--cta">Update Settings</button>
        </li>
    </ul>
</div>
<div class="interaction-bar container">
    <div class="col span-6">
        <button ng-click="generateExport($event)" class="btn btn--cta">Generate Export</button>
    </div>
    <div class="col span-6 has-text-right">
    </div>
</div>

<ol class="export-list">
    <li class="export-list__item" ng-repeat="export in exports" ng-click="startDownload(export)">
        <div>project: {{export.project_title}}</div>
        <div>Amount Assets: {{export.amount_assets}}</div>
        <div>Created at: {{export.created_at | date:'yyyy-MM-dd hh:mm:ss'}}</div>
        <div>size: {{export.size | fileSize}}</div>
    </li>
</ol>

<div class="container settings">
    <div class="col span-6">

    </div>
</div>