<div class="interaction-bar container settings">
    <form name="settingsForm" class="container" ng-submit="updateProjectSettings($event)" novalidate>
        <fieldset class="row">
            <placeholder-input value="project.title" label="Project Title" type="text"></placeholder-input>
        </fieldset>
        <fieldset class="row">
            <placeholder-input value="project.description" label="Project Description" type="text"></placeholder-input>
        </fieldset>
        <div class="row">
            <button class="btn btn--round btn--submit">Update Settings</button>
        </div>
    </form>
    <br>
    <div>
        <img ng-src="{{assetUrl + project.preview_image.url}}" style="max-width:400px;">
        <br>
        <br>
        <button ng-click="openModal('newAsset', uploadOptions)" class="btn btn--dotted"><i class="fa fa-upload"></i>Change Asset</button>
    </div>
</div>

<div class="interaction-bar container">
    <div class="col span-6">
        <button ng-click="generateExport($event)" class="btn btn--cta">Generate Export</button>
    </div>
    <div class="col span-6 has-text-right">
    </div>
</div>

<ol class="export-list">
    <li class="export-list__item" ng-repeat="export in exports" ng-click="startDownload(export)">
        <div>project: {{export.project_title}}</div>
        <div>Amount Assets: {{export.amount_assets}}</div>
        <div>Created at: {{export.created_at | date:'yyyy-MM-dd hh:mm:ss'}}</div>
        <div>size: {{export.size | fileSize}}</div>
    </li>
</ol>