<nav-header></nav-header>
<nav class="editor-toolbar">
    <ul class="editor-toolbar__list">
        <li class="editor-toolbar__item has-bottom-seperator active">
            <i class="fa fa-location-arrow"></i>
            <h2 class="editor-toolbar__title">Selection</h2>
        </li>
        <li class="editor-toolbar__item has-bottom-seperator">
            <i class="fa fa-trash-o"></i>
            <h2 class="editor-toolbar__title">Trash / Rubber</h2>
        </li>
        <li class="editor-toolbar__item">
            <i class="fa fa-expand"></i>
            <h2 class="editor-toolbar__title">Scale</h2>
        </li>
        <li class="editor-toolbar__item">
            <i class="fa fa-arrows"></i>
            <h2 class="editor-toolbar__title">Translate</h2>
        </li>
        <li class="editor-toolbar__item has-bottom-seperator active">
            <i class="fa fa-arrows-h"></i>
            <h2 class="editor-toolbar__title">Move</h2>
        </li>
        <li class="editor-toolbar__item">
            <i class="fa fa-camera"></i>
            <h2 class="editor-toolbar__title">Camera 1</h2>
        </li>
        <li class="editor-toolbar__item">
            <i class="fa fa-camera"></i>
            <h2 class="editor-toolbar__title">Camera 2</h2>
        </li>
        <li class="editor-toolbar__item">
            <i class="fa fa-camera"></i>
            <h2 class="editor-toolbar__title">Camera 3</h2>
        </li>
    </ul>
<nav>
<div class="editor-wrapper">
    <div class="editor-view" id="editor-view-container"></div>
    <div class="editor-sidebar">
        <div class="objects-wrapper">
            <div class="scene-object" ng-repeat="item in sceneObjects" ng-class="{active: item.id == currentSelected.id}">
                <div class="scene-object-inner">
                    <div class="scene-object-description">
                        {{item.type}} {{item.id}}: {{item.geometry.type}}
                    </div>
                    <div class="scene-object-buttons">
                        <i class="fa fa-cog" ng-click="item.detailsOpen = !item.detailsOpen"></i>
                    </div>
                </div>
                <div class="scene-object-details" ng-if="item.detailsOpen || item.id == currentSelected.id">
                    <min-max-value title="Opacity" item="item.material.opacity" minimum="0" maximum="1" step-size="0.1"></min-max-value>
                    <xyz-input title="Position" item="item.position"></xyz-input>
                    <xyz-input title="Rotation" item="item.rotation"></xyz-input>
                    <xyz-input title="Skalierung" item="item.scale"></xyz-input>

                </div>
            </div>
        </div>
        <div class="objects-wrapper">
            <div class="primitive-object" ng-repeat="type in supportedPrimitiveObjects" ng-click="addNewObject(type)">
                {{type}}
            </div>
        </div>
    </div>
</div>