<nav-header></nav-header>

<div ng-if="currentUser">Welcome, {{ currentUser.name }}</div>

<div ng-switch on="currentUser.role">
    <div ng-switch-when="userRoles.admin">You're admin.</div>
    <div ng-switch-when="userRoles.editor">You're editor.</div>
    <div ng-switch-default>You're something else.</div>
</div>

<button ui-sref="user">Gallery</button>
<button ui-sref="user.assets">Assets</button>
<button ui-sref="user.settings">Settings</button>
<button ui-sref="user.blick">Blick</button>
<div ui-view="userContent" class="reveal-animation"></div>