<nav-header></nav-header>
<div id="view--user">
    <div class="user-banner">
        <div class="user-banner__container container">
            <div class="user-banner__image col span-6"><i class="fa fa-mars"></i></div>
            <div class="user-banner__info col span-6">
                <div>{{ username }}</div>
            </div>
        </div>
    </div>
    <nav>
        <ul class="nav-tabs">
            <li class="nav-tabs__item">
                <button ui-sref="user" ui-sref-active="active" class="nav-tabs__btn">Gallery</button>
            </li>
            <li class="nav-tabs__item">
                <button ui-sref="user.settings" ui-sref-active="active" class="nav-tabs__btn">Settings</button>
            </li>
        </ul>
    </nav>
    <div ui-view="userContent" class="reveal-animation"></div>
</div>
