<div class="dropdown">
    <div class="dropdown__ghost" ng-class="{'active': active}" ng-click="active = false;"></div>
    <button class="btn btn--select dropdown__trigger" ng-click="toggleDropdown()">{{select.value || data.currentProjectName || 'Select'}}<i class="fa fa-chevron-down"></i></button>
    <div class="dropdown__toggle dropdown__toggle--select" ng-class="{'active': active}">
        <ul class="dropdown__list dropdown__list--select">
            <li class="dropdown__list__item" ng-repeat="project in data.projects" ng-click="selectDropdownItem(project.id, project.title)">
                <span>
                    {{project.title}}
                </span>
            </li>
        </ul>
    </div>
</div>