<div class="dropdown">
    <button class="btn btn--cta btn--dropdown" ng-click="active = !active"><i class="fa fa-link"></i>Share<i class="fa fa-chevron-down"></i></button>
    <div class="dropdown__toggle dropdown__toggle--default" ng-class="{'active': active}">
        <div class="dropdown__toggle__element">
            <a>
                Facebook
            </a>
        </div>
        <div class="dropdown__toggle__element">
            <a>
                Twitter
            </a>
        </div>
    </div>
</div>