@import "reset";
@import "_singularitygs";
@import "header/headerConf";
@import "editor/editorConf";


html, body, .container{
  height: 100%;
}


// Links
//
// usual links and style for external links
//
// Markup: <a href="" class="{$modifiers}">Link</a>
//
// :visited  - visited styles
// :hover    - Highlight the button when hovered.
// :focus    - focus styles
// :active   - "Press" the button down when clicked.
// .external - external link styles
//
// Styleguide 1

$link-color: #0000FF;
$link-colorV: #0000FF;
$link-colorH: #0000FF;
$link-colorF: #0000FF;
$link-colorA: #0000FF;
$link-external: #0000FF;


a {
  color: $link-color;
  text-decoration: none;

  &:visited {
    color: $link-colorV;
  }
  &:hover {
    color: $link-colorH;
  }
  &:focus {
    color: $link-colorF;
    outline: thin dotted;
  }
  &:active {
    color: $link-colorA;
    outline: none;
  }
  &:hover, &:active {
    outline: none;
  }
  &.external {
    color: $link-external;
  }
}

// A button suitable for giving a star to someone.
//
// Markup: <a href="" class="{$modifiers}">Link</a>
//
// :hover             - Subtle hover highlight.
// .star-given        - A highlight indicating you've already given a star.
// .star-given:hover  - Subtle hover highlight on top of star-given styling.
// .disabled          - Dims the button to indicate it cannot be used.
//
// Styleguide 2
a.button.star{

  &.star-given{
    background-color: #008000;
  }
    &.disabled{
      background-color: red;
  }
}



/*
 The animate class is apart of the element and the ng-enter class
 is attached to the element once the enter animation event is triggered
*/
.reveal-animation.ng-enter {
  -webkit-transition: 1s linear all; /* Safari/Chrome */
  transition: 1s linear all; /* All other modern browsers and IE10+ */

  /* The animation preparation code */
  opacity: 0;
}

/*
 Keep in mind that you want to combine both CSS
 classes together to avoid any CSS-specificity
 conflicts
*/
.reveal-animation.ng-enter.ng-enter-active {
  /* The animation code itself */
  opacity: 1;
}