$primary-0: #2F3B48;
$primary-1: #2C3E50;
$primary-2: #415162;
$primary-highlight: #384758;
$primary-cta: #0088DA;

$secondary-0: #b7b6b8; // or 959395
$secondary-1: #D2CFCF;
$secondary-2: #e0e2e3;
$secondary-3: #ECF0F1;
$secondary-light: #FFFFFF;

$cta-0: #F35E60;
$cta-1: #59f45b;

// Color-Collection
$colors:
  primary-0 $primary-0,
  primary-1 $primary-1,
  primary-2 $primary-2,
  primary-highlight $primary-highlight,
  primary-cta $primary-cta,
  secondary-0 $secondary-0,
  secondary-1 $secondary-1,
  secondary-2 $secondary-2,
  secondary-3 $secondary-3,
  secondary-light $secondary-light,
  cta-0 $cta-0,
  cta-1 $cta-1;

// ATTENTION: DO NOT USE IN PRODUCTION
// FOLLOWING CLASSES ONLY FOR USE IN THE STYLEGUIDE.MD
.sg-color {
  display: inline-block;
  position: relative;
  width: 230px;
  height: 220px;
  padding: 50px;
  margin: 0 10px 10px 0;
  color: #555;
  text-align: center;
  border: 1px solid #333;
}


.sg-color-info {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.6);
  width: 100%;
  border-top: 1px solid #333;

  &:before, &:after {
    display: block;
  }
}

@for $i from 1 through length($colors) {
  $color: nth($colors, $i);
  $color-name: nth($color, 1);
  $color-hex: nth($color, 2);
  $color-rgb: rgba($color-hex, 0);

  .sg-color-#{$color-name} {
    background-color: $color-hex;

    .sg-color-info {
      &:before { content: "#{$color-hex}"; }
      &:after { content: "#{$color-rgb}"; }
    }
  }
}