$base: 5px;

// only landingpage
$size-huge: 100px;
$size-large: 50px;
$size-medium: 34px;
$size-title: 22px;
$size-content: 14px;


// todo: mixins for typography styles, huge, title etc...
$font-size-xlarge: 20px;
$font-size-large: 18px;
$font-size-medium: 16px;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-black: 800;

$banner-height: 80px;

@mixin ellipsis() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin blick-transition($property: all, $duration: 0.15s, $effect: ease-in) {
  transition: $property $duration;
}

@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 64em) { @content ; }
  }
  @else if $point == tablet {
    @media (max-width: 37.5em)  { @content ; }
  }
  @else if $point == mobile-only {
    @media (max-width: 37.5em)  { @content ; }
  }
}